rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /unidades/{unidadId} {
      allow read, write: if signedIn();
    }

    match /servicios/{servicioId} {
      allow read, write: if signedIn();
    }

    match /facturas/{facturaId} {
      allow read, write: if signedIn();
    }

    match /ajustes/{ajusteId} {
      allow read, write: if signedIn();
    }
  }
}

